<div class="links-wrap">
    <ul class="footer-nav-links">
        <li><a href="/" class="active" title="Inicio">Inicio</a></li>
        <li><a href="/pages/acerca-de" title="Acerca de nosotros">Acerca de nosotros</a></li>
        <li><a href="/pages/historia" title="Historia">Historia</a></li>
        <li><a href="/pages/contacto" title="Contacto">Contacto</a></li>
    </ul>
    <ul class="social-links">
        <li><a href="https://www.linkedin.com/" target="_blank" title="Visita nuestra pagina de Linkedin"><img width="20px" height="20px" src="{{ "icon-linkedin.svg" | asset_url}}" alt="Linkedin logo"></a></li>
        <li><a href="https://vimeo.com/" target="_blank" title="Visita nuestra pagina de Vimeo"><img width="20px" height="20px" src="{{ "icon-vimeo.svg" | asset_url}}" alt="Vimeo logo"></a></li>
        <li><a href="https://www.instagram.com/" target="_blank" title="Visita nuestra pagina de Instagram"><img width="20px" height="20px" src="{{ "icon-instagram.svg" | asset_url}}" alt="Instagram logo"></a></li>
        <li><a href="https://x.com/" target="_blank" title="Visita nuestra pagina de Twitter"><img width="20px" height="20px" src="{{ "icon-twitter.svg" | asset_url}}" alt="Twitter logo"></a></li>
        <li><a href="https://www.facebook.com/" target="_blank" title="Visita nuestra pagina de Facebook"><img width="20px" height="20px" src="{{ "icon-facebook.svg" | asset_url}}" alt="Facebook logo"></a></li>
    </ul>
</div>


<a href="/" title="Tennis Shop" class="footer-logo">
    <img width="" height="" src="{{ "store-logo.webp" | asset_url}}" alt="Tennis Shop Logo">
</a>
{% schema %}
{
    "name":"Footer",
    "settings":[],
    "presets":[
        {
            "name":"footer"
        }
    ]
}
{% endschema %}