<div class="links-wrap">
    <ul class="footer-nav-links">
        <li><a href="/" class="active">Inicio</a></li>
        <li><a href="/acerca-de">Acerca de nosotros</a></li>
        <li><a href="/historia">Historia</a></li>
        <li><a href="/contacto">Contacto</a></li>
    </ul>
    <ul class="social-links">
        <li><a href=""><img width="20px" height="20px" src="{{ "icon-linkedin.svg" | asset_url}}" alt=""></a></li>
        <li><a href=""><img width="20px" height="20px" src="{{ "icon-vimeo.svg" | asset_url}}" alt=""></a></li>
        <li><a href=""><img width="20px" height="20px" src="{{ "icon-instagram.svg" | asset_url}}" alt=""></a></li>
        <li><a href=""><img width="20px" height="20px" src="{{ "icon-twitter.svg" | asset_url}}" alt=""></a></li>
        <li><a href=""><img width="20px" height="20px" src="{{ "icon-facebook.svg" | asset_url}}" alt=""></a></li>
    </ul>
</div>


<a href="" class="footer-logo">
    <img width="" height="" src="{{ "store-logo.webp" | asset_url}}" alt="">
</a>
{% schema %}
{
    "name":"Footer",
    "settings":[],
    "presets":[
        {
            "name":"footer"
        }
    ]
}
{% endschema %}