{% assign collection_handle = 'frontpage' %}
{% assign collection = collections[collection_handle] %}
<section class="product-slider">
    <div class="product-slider__wrapper">
        <div class="product-slider__description-block">
            <h3 class="product-slider--title">Nuestras <span>Raquetas</span></h3>
            <p class="product-slider--description">Conoce nuestras raquetas y aprende a jugar Tennis cómo un profesional.</p>
            <div class="product-slider__controls">
                {% if collection %}
                    <ul class="slider-indicators" data-target-slider="#productSlider">
                        {% for product in collection.products %}
                            {% if forloop.index == 1 %}
                                <li><a href="#" class="active" data-slide-to="{{ forloop.index }}"></a></li>
                                {% else %}
                                <li><a href="#" data-slide-to="{{ forloop.index }}"></a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <div class="slider-controls" data-target-slider="#productSlider">
                        <a href="#prev" class="control-left"><span>&#9664;</span></a>
                        <a href="#next" class="control-right"><span>&#9654;</span></a>
                    </div>
                {% else %}
                {% endif %}
            </div>
        </div>
        <div class="product-slider__slider">
            <div class="products">
                {% if collection %}
                <ul id="productSlider">
                    {% for product in collection.products %}
                    <li>
                        <a href="{{ product.url }}" title="{{ product.title }}" class="product-link">
                            <img width="" height="" src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No hay productos disponibles por el momento.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>